/* You can add global styles to this file, and also import other style files */
body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(/assets/images/seed-icon.png) 10px 10px
    no-repeat #00b6f1;
}
